/* Faction Colors for banners */


.flavor {
    font-size: medium;
    font-family: cursive;
    color:rgb(63, 63, 63)
}

.stats {
    font-family:'Courier New', Courier, monospace;
}

.cardcode {
    font-size: small;
    font-family:'Courier New', Courier, monospace;
    text-align: right;
    vertical-align: middle;
}


